<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"  >
<div class="modal-dialog" style="width:95%; height:80%;" >
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" (click)="hideModal()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Editar Movimiento</h4>
</div>
<div class="modal-body">
  <div class="panel-body" *ngIf="movimiento">
    <form [formGroup]="movimientoForm" (ngSubmit)="guardar()" class="form-horizontal">
        
        <div [ngClass]="{'form-group': true,'col-md-6': true,'has-error': formErrors.tipo}"  >
          <label for="tipo" class="col-md-2 control-label" for="tipo">Tipo</label>
          <div class="col-md-10">
            <select id="tipo" formControlName="tipo" class="form-control" > 
              <option *ngFor="let tipo of tipos">{{tipo}}</option>
            </select>
            <span  *ngIf="formErrors.tipo" id="errornombre" class="help-block">{{ formErrors.tipo}}</span>
          </div>
        </div>

        <div [ngClass]="{'form-group': true,'col-md-6': true,'has-error': formErrors.clasificacion}"  >
          <label for="clasificacion" class="col-md-2 control-label" for="clasificacion">Clasificacion</label>
          <div class="col-md-10">
            <select id="clasificacion" formControlName="clasificacion" class="form-control" > 
              <option *ngFor="let clasificacion of clasificaciones">{{clasificacion}}</option>
            </select>
            <span  *ngIf="formErrors.clasificacion" id="errornombre" class="help-block">{{ formErrors.clasificacion}}</span>
          </div>
        </div>

        <div [ngClass]="{'form-group': true,'col-md-6': true,'has-error': formErrors.fecha}"  >
          <label for="fecha" class="col-md-2 control-label" for="tipo">Fecha</label>
          <div class="col-md-10">
            <input id="search_fecha" type="text" data-provide="datepicker" class="form-control input-sm" >
            <span  *ngIf="formErrors.fecha" id="errornombre" class="help-block">{{ formErrors.fecha}}</span>
          </div>
        </div>


        <div [ngClass]="{'form-group': true,'col-md-6': true,'has-error': formErrors.puro}"  >
          <label for="puro" class="col-md-2 control-label" for="puro">Precio Puro</label>
          <div class="col-md-10">
            <input  id="puro" type="number" class="form-control" formControlName="puro" placeholder="000.000,00 bs" >
            <span  *ngIf="formErrors.puro" id="errornombre" class="help-block">{{ formErrors.puro}}</span>
          </div>
        </div>

        <div [ngClass]="{'form-group': true,'col-md-12': true,'has-error': formErrors.descripcion}"  >
          <label for="descripcion" class="col-md-1 control-label" for="tipo">Descripcion</label>
          <div class="col-md-10">
            <textarea id="descripcion" type="text" class="form-control" formControlName="descripcion" placeholder="Descripción....................." row="3" > </textarea> 
            <span  *ngIf="formErrors.descripcion" id="errornombre" class="help-block">{{ formErrors.descripcion}}</span>
          </div>
        </div>



        <div class="col-md-12">
        <h3 class="page-header">Fuente</h3>
        <div [ngClass]="{'form-group': true, 'col-md-6': true,'has-error': formErrors.cuenta_id}"  >
            <label for="cuenta_id" class="col-sm-2 control-label" for="estado">Cuenta</label>
            <div class="col-sm-10">
              <select id="cuenta_id" class="form-control" > 
              
              </select>
              <span  *ngIf="formErrors.cuenta_id" class="help-block">{{ formErrors.cuenta_id}}</span>
            </div>
        </div>

        <div [ngClass]="{'form-group': true,'col-md-6': true,'has-error': formErrors.monto}"  >
          <label for="monto" class="col-md-2 control-label" for="tipo">Monto</label>
          <div class="col-md-10">
            <input  id="puro" type="number" class="form-control" formControlName="monto" placeholder="000.000,00 bs" >
            <span  *ngIf="formErrors.monto" id="errornombre" class="help-block">{{ formErrors.monto}}</span>
          </div>
        </div>
        </div>

        <div class="col-md-12">
        <h3 class="page-header">Destino</h3>
        <div [ngClass]="{'form-group': true, 'col-md-6': true,'has-error': formErrors.banco_destino_id}"  >
            <label for="banco_destino_id" class="col-sm-2 control-label" for="estado">Banco</label>
            <div class="col-sm-10">
              <select id="banco_destino_id" class="form-control" > 
              
              </select>
              <span  *ngIf="formErrors.cuenta_id" class="help-block">{{ formErrors.cuenta_id}}</span>
            </div>
        </div>

        <div [ngClass]="{'form-group': true,'col-md-6': true,'has-error': formErrors.cuenta_destino}"  >
          <label for="cuenta_destino" class="col-md-2 control-label" for="tipo">Cuenta</label>
          <div class="col-md-10">
            <input  id="cuenta_destino" type="text" class="form-control" formControlName="cuenta_destino">
            <span  *ngIf="formErrors.cuenta_destino" id="errornombre" class="help-block">{{ formErrors.cuenta_destino}}</span>
          </div>
        </div>
        <div [ngClass]="{'form-group': true, 'col-md-6': true,'has-error': formErrors.negocio_id}"  >
          <label for="negocio_id" class="col-sm-2 control-label" for="estado">Negocio</label>
          <div class="col-sm-10">
            <select id="negocio_id" class="form-control" > 
            </select>
            <span  *ngIf="formErrors.negocio_id" class="help-block">{{ formErrors.negocio_id}}</span>
          </div> 
        </div>
        </div>





      <div class="form-group">
          <div class="col-sm-12" align="right">
            <input type="button" class="btn btn-default" (click)="guardar()" value="Guardar">
          </div>
      </div>

    </form>
  </div>
</div> <!-- end modal body  --> 
</div>
</div>
</div>
 


