<section class="container-fluid cabezera">
  <div class="col-md-4">
    <h3 class="titulo-head">Goldex</h3>
  </div>
  <div class="col-md-8" align="right" style="margin-top: 15px;">
    <div class="btn-group" dropdown  *ngIf="user" >
      <button id="split-button" type="button" class="btn btn-default">
        <strong>{{user.name | uppercase }}</strong>
      </button>
      <button type="button" class="btn btn-default dropdown-toggle-split" dropdownToggle>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a class="dropdown-item"  (click)="onCambiarContrasena()" >Cambiar Contraseña</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesion</a></li>
      </ul>
    </div>
  </div>
</section>
<section class="container-fluid" >
  <div class="col-md-2 sidenav well well-sm" *ngIf="user">
    <accordion role="tablist" aria-multiselectable="true" > 
        <accordion-group heading="Midinero" panelClass="panel-default acordion-item" >
        <ul class="list-group">
          <li class="list-group-item" routerLinkActive="active"><a routerLink="miMoney" >Dashboard</a></li>
        </ul>
        </accordion-group>
        <accordion-group heading="Usuarios" panelClass="panel-default acordion-item" >
        <ul class="list-group">
          <li class="list-group-item" routerLinkActive="active"><a routerLink="usuarios" >Usuarios</a></li>
        </ul>
        </accordion-group>
        <accordion-group heading="Bancos" panelClass="panel-default acordion-item" >
        <ul class="list-group">
          <li class="list-group-item" routerLinkActive="active"   ><a routerLink="bancos">Bancos</a></li>
          <li class="list-group-item" routerLinkActive="active" ><a routerLink="cuentas">Cuentas</a></li>
          <li class="list-group-item" routerLinkActive="active" ><a routerLink="tipos">Tipo Cambio</a></li>
        </ul>
        </accordion-group>
        <accordion-group heading="Negocios" panelClass="panel-default acordion-item">
        <ul class="list-group">
          <li class="list-group-item" routerLinkActive="active"><a routerLink="negocios">Negocios o Socios </a></li>
          <li class="list-group-item" routerLinkActive="active"><a routerLink="movimientos">Movimientos</a></li>
          <li class="list-group-item" routerLinkActive="active"><a routerLink="abonos">Abonos</a></li>
          <li class="list-group-item" routerLinkActive="active"><a routerLink="cierres" >Cierres</a></li>
        </ul>
        </accordion-group>
    </accordion>
  </div>
  <div class="col-md-10 sidenav well well-sm">
    <router-outlet >
    </router-outlet>
  </div>
</section>
<usuario-contrasena-component></usuario-contrasena-component>