<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" style="width:85%; height:80%;">
<div class="modal-content" *ngIf="prestamo">
<div class="modal-header">
  <button type="button" class="close" (click)="hideModal()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Prestamo id: {{prestamo.id}}</h4>
</div>
<div class="modal-body">
  <div class="panel-body">
    <div class="col-md-12">
      <h3 class="page-header">Detalle </h3>
    </div>

    <div class="col-md-3">
      <blockquote>
        <p><label>Negocio :</label> {{prestamo.negocio.nombre}}</p>
      </blockquote>
    </div>

    <div class="col-md-3">
      <blockquote>
        <p><label> Tipo :</label> {{prestamo.tipo}}</p>
      </blockquote>
    </div>

    <div class="col-md-3">
      <blockquote>
        <p><label> Fecha :</label> {{prestamo.fecha}}</p>
      </blockquote>
    </div>

    <div class="col-md-3">
      <blockquote>
        <p><label> Usuario :</label> {{prestamo.user.name}}</p>
      </blockquote>
    </div>

    <div class="col-md-3" *ngIf="prestamo.tipo != 'efectivo'">
      <blockquote>
        <p><label> cuenta :</label>{{prestamo.cuenta.numero}}</p>
      </blockquote>
    </div>

    <div class="col-md-3" *ngIf="prestamo.tipo != 'efectivo'">
      <blockquote>
        <p><label> referencia :</label>{{prestamo.referencia}}</p>
      </blockquote>
    </div>

    <div class="col-md-12">
      <div class="col-md-6 row">
        <blockquote style="height: 185px;">
          <p><label> Descripción :</label>{{prestamo.descripcion}}</p>
        </blockquote>
      </div>
      <div class="col-md-6 row">
        <blockquote>
        <label><strong>Totales :</strong></label>
        <table class="table table-hover">
          <tr>
            <td style="text-align: right;"><strong> Precio Puro (gramos): </strong></td>
            <td style="text-align: left"><strong> {{prestamo.precio_material|number:'1.2-2'}} Bs.</strong></td>
          </tr>
          <tr>
            <td style="text-align: right;"><strong> Cantidad de puro: </strong></td>
            <td style="text-align: left;"> <strong> {{prestamo.monto/prestamo.precio_material|number:'1.2-2'}} Grs.</strong></td>
          </tr>

          <tr  *ngIf="prestamo.tipo == 'efectivo'">
            <td style="text-align: right;"><strong> Comision: </strong></td>
            <td style="text-align: left;"> <strong> {{prestamo.comision|number:'1.2-2'}} Bs.</strong></td>
          </tr>
          <tr>
            <td style="text-align: right;"><strong> Monto: </strong></td>
            <td style="text-align: left;"> <strong> {{prestamo.monto|number:'1.2-2'}} Bs.</strong></td>
          </tr>
        </table>
        </blockquote>
      </div>
    </div>

  </div>
</div> <!-- end  modal-body --> 
</div>
</div>
</div>