<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" style="width:85%; height:80%;">
<div class="modal-content" *ngIf="movimiento">
<div class="modal-header">
  <button type="button" class="close" (click)="hideModal()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Movimiento {{movimiento.id}}</h4>
</div>
<div class="modal-body">
  <div class="panel-body"   >
    <div class="col-md-12">
      <h3 class="page-header">Detalle </h3>
      <div class="col-md-4">
        <blockquote>
          <p><label>Fecha :</label>{{movimiento.fecha}}</p>
        </blockquote>
      </div>
      <div class="col-md-4">
        <blockquote>
          <p><label>Tipo :</label>{{movimiento.tipo}}</p>
        </blockquote>
      </div>
      <div class="col-md-4">
        <blockquote>
          <p><label>Clasificacion :</label>{{movimiento.clasificacion}}</p>
        </blockquote>
      </div>
      <div class="col-md-4">
        <blockquote>
          <p><label>Puro :</label>{{movimiento.puro}}</p>
        </blockquote>
      </div>
      <div class="col-md-4">
        <blockquote>
          <p><label>Monto :</label>{{movimiento.monto}}</p>
        </blockquote>
      </div>
      <div class="col-md-6">
        <blockquote>
          <p><label>Descripcion :</label>{{movimiento.descripcion}}</p>
        </blockquote>
      </div>
    </div>

    <div class="col-md-12" *ngIf="movimiento.negocio" >
      <h3 class="page-header">Negocio</h3>
      <div class="col-md-4">
        <blockquote>
          <p><label>Nombre :</label>{{movimiento.negocio.nombre}}</p>
        </blockquote>
      </div>
      <div class="col-md-4">
        <blockquote>
          <p><label>Rif :</label>{{movimiento.negocio.rif}}</p>
        </blockquote>
      </div>

      <div class="col-md-4">
        <blockquote>
          <p><label>Encargado :</label>{{movimiento.negocio.encargado}}</p>
        </blockquote>
      </div>
    </div>

    <div class="col-md-12" *ngIf="movimiento.cuenta" >
      <h3 class="page-header">Cuenta</h3>
      <div class="col-md-6">
        <blockquote>
          <p><label>Cuenta :</label>{{movimiento.cuenta.numero}}</p>
        </blockquote>
      </div>
      <div class="col-md-6">
        <blockquote>
          <p><label>Banco :</label>{{movimiento.cuenta.banco.nombre}}</p>
        </blockquote>
      </div>
    </div>

    <div class="col-md-12">
      <h3 class="page-header">Depositado :</h3>
      <div class="col-md-6">
        <blockquote>
          <p><label>Cuenta Destino :</label>{{movimiento.cuenta_destino}}</p>
        </blockquote>
      </div>
      <div class="col-md-6">
        <blockquote>
          <p><label>Banco Destino :</label>{{movimiento.banco_destino.nombre}}</p>
        </blockquote>
      </div>
		</div>


    <div class="col-md-12" *ngIf="movimiento.user">
      <h3 class="page-header">Usuario</h3>
      <div class="col-md-6">
        <blockquote>
          <p><label>Usuario :</label>{{movimiento.user.name}}</p>
        </blockquote>
      </div>
    </div>
    
    
  </div>
</div> <!-- end  modal-body --> 
</div>
</div>
</div>