 
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2 ">
        <button type="button" class="btn btn-sm btn-default" (click)="agregar()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-sm btn-default" (click)="loadTable()">
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
      </div>
      <!-- ****************************************************  -->
      <div class="col-md-10" align="right">
        <div class="form-inline">
          <div class="form-group">
            <input type="text" [(ngModel)]="search" class="form-control col-md-6" 
                              placeholder="buscar" (keyup)="loadTable()"  >
            <button type="button" class="btn  btn-default"
             (click)="loadTable()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            <button type="button" class="btn  btn-default"
             (click)="openModal()"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-hover">
          <thead>
            <tr><th>Id</th><th>Negocio</th><th>Descripcion</th><th>Monto</th><th>Fecha</th><th>Tipo</th>
            <th>Clasificacion</th><th>Cuenta</th><th></th></tr>
          </thead>
          <tbody class="movimientos">
            <tr *ngFor="let movimiento of movimientos" 
                [class.active]="movimiento === activeMovimiento" (click)="onActive(movimiento)">
              <td ><span>{{movimiento.id}}</span></td>
              <td ><span>{{movimiento.negocio.nombre}}</span></td>
              <td ><span>{{movimiento.descripcion}}</span></td>
              <td ><span>{{movimiento.monto}}</span></td>
              <td ><span>{{movimiento.fecha}}</span></td>
              <td ><span>{{movimiento.tipo}}</span></td>
              <td ><span>{{movimiento.clasificacion}}</span></td>
              <td ><span>{{movimiento.cuenta.numero}}</span></td>
              <td align="right">
                <span  dropdown >
                  <span class="glyphicon glyphicon-th" aria-hidden="true" dropdownToggle ></span>
                  <ul class="dropdown-menu dropdown-menu-right" dropdownMenu  role="menu" aria-labelledby="split-button">
                    <li  role="menuitem" (click)="onSelect(movimiento)" >
                      <a class="dropdown-item" >Mostrar</a>
                    </li>
                    <li role="menuitem" (click)="onEditar(movimiento)">
                      <a class="dropdown-item" >Editar</a>
                    </li>
                    <li role="menuitem" (click)="onEliminar(movimiento)">
                      <a class="dropdown-item" >Eliminar</a>
                    </li>
                  </ul>
                </span>
              </td>
            </tr>
          </tbody>
          </table>
          <div align="right">
            <pagination [totalItems]="total" [(ngModel)]="current_page"  [itemsPerPage]="per_page"
                      (pageChanged)="pageChanged($event)" [boundaryLinks]="true" [maxSize]="10" [rotate]="false"
                            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
            <p> <strong>Pagina: {{current_page}} Total de Movimientos {{total}}</strong> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
<movimiento-delete-component></movimiento-delete-component>
<movimiento-component></movimiento-component>
<movimiento-edit-component></movimiento-edit-component> 

 

<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Detalle Busquedad</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">

          <div class="form-horizontal">
            <div class="form-group">
              <label for="search_desde" class="col-md-2 control-label">Desde</label>
              <div class="col-md-4">
                <input id="search_desde" type="text" data-provide="datepicker" class="form-control input-sm" >
              </div>

              <label for="search_hasta" class="col-md-2 control-label">Hasta</label>
              <div class="col-md-4">
                <input id="search_hasta" type="text" data-provide="datepicker" class="form-control input-sm" >
              </div>
            </div>
 

            <div class="form-group">
              <label for="tipo" class="col-md-2 control-label">Tipo</label>
              <div class="col-md-6">
                <input id="tipo" [(ngModel)]="tipo" type="text" class="form-control input-sm">
              </div>
            </div>

            <div class="form-group">
              <label for="clasificacion" class="col-md-2 control-label">Clasificacion</label>
              <div class="col-md-6">
                <input id="clasificacion" [(ngModel)]="clasificacion" type="text" class="form-control input-sm" >
              </div>
            </div>


            <div class="form-group">
              <div class="col-sm-offset-8 col-sm-2">
                <button type="button" class="btn  btn-default"
                    (click)="loadTable()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </div>
            </div>

          </div>
          <!-- End For -->

        </div>
      </div>
    </div>
  </div>
</div>
 
 